<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>

</head>
<body>
<label>Create new Guest:</label>

<form action="#" th:action="@{/guests/register}" th:object="${guest}" method="post">
    <label>First name:
        <input type="text" th:field="*{firstName}"/>
    </label><br>
    <label>Second Name:
        <input type="text" th:field="*{secondName}"/>
    </label><br>
    <label>Email:
        <input type="text" th:field="*{email}"/>
    </label><br>
    <label>Phone:
        <input type="text" th:field="*{phone}"/>
    </label><br>
    <br>

    <button type="submit">Register!</button>

</form>




</body>
</html>