<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Succes</title>
</head>
<body>
    <label>SUKCES!!!!!</label>

    <form action="#" th:action="@{/guests/register}" th:object="${guest}" method="post">
        <label th:text="${guest.getUuid()}"></label>
        <label th:text="${guest.getFirstName()}"></label>
        <label th:text="${guest.getSecondName()}"></label>
        <label th:text="${guest.getPhone()}"></label>
        <label th:text="${guest.getEmail()}"></label>
    </form>
</body>
</html>