<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room View</title>
</head>
<body>

<Label>This is room view</Label><br>

<form action="#"  th:object="${choosenRoom}" method="get">
    <b><label>Room DATA:</label></b><br>
    <label>Number:
        <label th:text="*{number}"></label>
    </label><br>
    <label>Floor:
        <label th:text="*{floor}"></label>
    </label><br>
    <label>Beds:
        <label th:text="*{beds}"></label>
    </label><br>

</form>

<form action="#" th:action="@{/reservation/summary}" th:object="${choosenRoom}" method="post">
    <button th:value="${choosenRoom.number}" type="submit" name="number" >Book room</button>
</form>




<button onclick="goBack()">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>